* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.nav-list {
    display: flex;
    list-style-type: none;        
    justify-content: flex-end;
    padding: 16px;
}

.nav-item {    
    margin-left: 16px;
}

.tile {
    background-image: url("./images/i1_1967ca6a.png");
    background-size: 528px 68px;
    background-position: -132px -38px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    opacity: 0.55;
}

.tile:hover {
    opacity: 1;
}

.login {    
    height: 100%;
    background-color: rgba(67, 151, 219, 0.932);
    border: 1px solid rgba(75, 169, 247, 0.932);
    border-radius: 4px;
    padding: 0 16px;    
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.nav-link {    
    color: rgba(0, 0, 0, 0.87);    
    font-size: 13px;
    line-height: 30px;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 272px;
}

.search {
    display: block;
    margin: 0 auto;
    width: 580px;
}

.footer {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    flex-direction: column;
    width: 100%;
}

.footer-line {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    border-bottom: 0;
    border-top: 1px;
    border-left: 0;
    border-right: 0;
    border-color: #e4e4e4;
    border-style: solid;
    padding: 8px 30px;
    line-height: 30px;    
}

.country {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.54);
}

.link {
    text-decoration: none;    
    color: #5f6368;
}

.link-left {
    margin-right: 27px;
}

.link-right {
    margin-left: 27px;
}

.link:hover {
    text-decoration: underline;
}